<div class="specialist-moderator">
	<!-- ko control: InfoBox --><!-- /ko -->

	<!-- ko foreach: Specialists -->
	<div class="specialist">
		<img class="photo" data-bind="attr: { src: photoUrl }, visible: photoUrl" />
		<div class="buttons">
			<button class="icon-ok" data-bind="click: $parent.Approve">Approve</button>
			<button class="icon-no" data-bind="click: $parent.Archive">Hide</button>
			<button class="icon-no warning" data-bind="click: $parent.Delete">Delete</button>
		</div>
		<div class="name">
			<div class="first" data-bind="text: firstName"></div>
			<div class="patronymic" data-bind="text: patronymicName"></div>
			<div class="last" data-bind="text: lastName"></div>
		</div>
		<div class="location">
			<span class="country" data-bind="text: (regions||[]).join(', ')"></span>
		</div>
		<div class="organization" data-bind="text: organization"></div>
		<div class="profession">
			<label>Кто</label>
			<span data-bind="text: profession"></span>
			<div data-bind="text: professionDescription"></div>
		</div>
		<div class="specialization">
			<label>Специализация</label>
			<span data-bind="text: specialization"></span>
			<div data-bind="text: specializationDescription"></div>
		</div>
		<div>
			<label>Образование</label>
			<span data-bind="text: formalEducation"></span>
		</div>
		<div>
			<label>Подготовка к МТ</label>
			<span data-bind="text: musicTherapyEducation"></span>
		</div>
		<div class="experience">
			<label>Опыт работы</label>
			<span data-bind="text: experience"></span>
			<div data-bind="text: experienceDescription"></div>
		</div>
		<div class="contacts">
			<div class="email" data-bind="text: contactEmail"></div>
			<div class="email" data-bind="text: publicEmail"></div>
			<div class="phone" data-bind="text: publicPhone"></div>
			<a class="url" data-bind="text: url, attr: { href: url }"></a>
		</div>
	</div>
	<!-- /ko -->

</div>