.specialist-search {
	.field {
		width: 95%;
		margin-bottom: 10px;

		> div {
			width: 100%;
		}
	}

	.specialist {
		position: relative;
		margin-bottom: 20px;
		padding: 5px;
		overflow: hidden;

		&:after {
			clear: left;
			content: ' ';
			display: block;
		}

		&:hover {
			background: #f3f3f3;
		}
		
		> div {
			> label {
				display: inline-block;
				font-weight: bold;
				&:after { content: ': ' }
			}
		}

		> img {
			float: left;
			margin-right: 10px;
			margin-bottom: 10px;
		}

		> .name {
			> div {display: inline-block;}
			font-weight: bold;
			margin-right: 15px;
			font-size: 140%;
		}

		> .location {
			display: block;
		}

		> .buttons {
			float: right;
			width: 150px;
			display: inline-block;

			> button {
				width: 100%;
				display: block;
				text-align: left;
				padding-left: 40px;
			}
		}
	}
}