.specialist-search {
  position: relative;
}
.specialist-search .field {
  width: 95%;
  margin-bottom: 10px;
}
.specialist-search .field > div {
  width: 100%;
}
.specialist-search .regionList .region > .children {
  margin-left: 20px;
}
.specialist-search .specialist {
  position: relative;
  margin-bottom: 20px;
  padding: 5px;
  overflow: hidden;
}
.specialist-search .specialist:after {
  clear: left;
  content: ' ';
  display: block;
}
.specialist-search .specialist:hover {
  background: #f3f3f3;
}
.specialist-search .specialist > img.photo.empty {
  width: 120px;
  height: 120px;
  background-image: url('../../../../img/specialist-no-photo.png');
}
.specialist-search .specialist > img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.specialist-search .specialist > .f:before,
.specialist-search .specialist > div > .f:before {
  font-weight: bold;
}
.specialist-search .specialist > .name > .first:before {
  content: 'И ';
}
.specialist-search .specialist > .name > .last:before {
  content: 'Ф ';
}
.specialist-search .specialist > .name > .patronymic:before {
  content: 'О ';
}
.specialist-search .specialist > .education:before {
  content: 'Образование: ';
}
.specialist-search .specialist > .mtEducation:before {
  content: 'Проходили ли вы подготовку по терапевтическому использованию музыки? Если да, то когда и где? ';
}
.specialist-search .specialist > .experience:before {
  content: 'Опыт работы в области терапевтического использования музыки: ';
}
.specialist-search .specialist > .specialization:before {
  content: 'Специализация: ';
}
.specialist-search .specialist > .specializationDescription:before {
  content: 'Подробнее: ';
}
.specialist-search .specialist > .organization:before {
  content: 'Место работы: ';
}
.specialist-search .specialist > .resume:before {
  content: 'Краткое резюме: ';
}
.specialist-search .specialist > .contacts:before {
  display: block;
  content: 'Контакты: ';
}
.specialist-search .specialist > .contacts > .email:before {
  content: 'Email ';
}
.specialist-search .specialist > .contacts > .phone:before {
  content: 'Телефон ';
}
.specialist-search .specialist > .contacts > .url:before {
  content: 'Сайт ';
  color: black;
}
.specialist-search .specialist > .buttons {
  float: right;
  width: 150px;
  display: inline-block;
}
.specialist-search .specialist > .buttons > button {
  width: 100%;
  display: block;
  text-align: left;
  padding-left: 40px;
}
.loadingContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  pointer-events: none;
  display: none;
}
.loadingContainer.fixed {
  position: fixed;
}
.loadingContainer.show {
  display: block;
}
.blockerBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(240, 240, 240, 0.6);
  -webkit-transition: opacity 0.3s ease-in-out !important;
  -moz-transition: opacity 0.3s ease-in-out !important;
  -o-transition: opacity 0.3s ease-in-out !important;
  transition: opacity 0.3s ease-in-out !important;
}
.loadingSpinner {
  font-size: 6px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  margin-left: -0.5em;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  position: absolute;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  z-index: 10;
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #505050, 1.8em -1.8em 0 0em rgba(80, 80, 80, 0.2), 2.5em 0em 0 0em rgba(80, 80, 80, 0.2), 1.75em 1.75em 0 0em rgba(80, 80, 80, 0.2), 0em 2.5em 0 0em rgba(80, 80, 80, 0.2), -1.8em 1.8em 0 0em rgba(80, 80, 80, 0.2), -2.6em 0em 0 0em rgba(80, 80, 80, 0.5), -1.8em -1.8em 0 0em rgba(80, 80, 80, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(80, 80, 80, 0.7), 1.8em -1.8em 0 0em #505050, 2.5em 0em 0 0em rgba(80, 80, 80, 0.2), 1.75em 1.75em 0 0em rgba(80, 80, 80, 0.2), 0em 2.5em 0 0em rgba(80, 80, 80, 0.2), -1.8em 1.8em 0 0em rgba(80, 80, 80, 0.2), -2.6em 0em 0 0em rgba(80, 80, 80, 0.2), -1.8em -1.8em 0 0em rgba(80, 80, 80, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(80, 80, 80, 0.5), 1.8em -1.8em 0 0em rgba(80, 80, 80, 0.7), 2.5em 0em 0 0em #505050, 1.75em 1.75em 0 0em rgba(80, 80, 80, 0.2), 0em 2.5em 0 0em rgba(80, 80, 80, 0.2), -1.8em 1.8em 0 0em rgba(80, 80, 80, 0.2), -2.6em 0em 0 0em rgba(80, 80, 80, 0.2), -1.8em -1.8em 0 0em rgba(80, 80, 80, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(80, 80, 80, 0.2), 1.8em -1.8em 0 0em rgba(80, 80, 80, 0.5), 2.5em 0em 0 0em rgba(80, 80, 80, 0.7), 1.75em 1.75em 0 0em rgba(80, 80, 80, 0.2), 0em 2.5em 0 0em rgba(80, 80, 80, 0.2), -1.8em 1.8em 0 0em rgba(80, 80, 80, 0.2), -2.6em 0em 0 0em rgba(80, 80, 80, 0.2), -1.8em -1.8em 0 0em rgba(80, 80, 80, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(80, 80, 80, 0.2), 1.8em -1.8em 0 0em rgba(80, 80, 80, 0.2), 2.5em 0em 0 0em rgba(80, 80, 80, 0.5), 1.75em 1.75em 0 0em rgba(80, 80, 80, 0.7), 0em 2.5em 0 0em #505050, -1.8em 1.8em 0 0em rgba(80, 80, 80, 0.2), -2.6em 0em 0 0em rgba(80, 80, 80, 0.2), -1.8em -1.8em 0 0em rgba(80, 80, 80, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(80, 80, 80, 0.2), 1.8em -1.8em 0 0em rgba(80, 80, 80, 0.2), 2.5em 0em 0 0em rgba(80, 80, 80, 0.2), 1.75em 1.75em 0 0em rgba(80, 80, 80, 0.5), 0em 2.5em 0 0em rgba(80, 80, 80, 0.7), -1.8em 1.8em 0 0em #505050, -2.6em 0em 0 0em rgba(80, 80, 80, 0.2), -1.8em -1.8em 0 0em rgba(80, 80, 80, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(80, 80, 80, 0.2), 1.8em -1.8em 0 0em rgba(80, 80, 80, 0.2), 2.5em 0em 0 0em rgba(80, 80, 80, 0.2), 1.75em 1.75em 0 0em rgba(80, 80, 80, 0.2), 0em 2.5em 0 0em rgba(80, 80, 80, 0.5), -1.8em 1.8em 0 0em rgba(80, 80, 80, 0.7), -2.6em 0em 0 0em #505050, -1.8em -1.8em 0 0em rgba(80, 80, 80, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(80, 80, 80, 0.2), 1.8em -1.8em 0 0em rgba(80, 80, 80, 0.2), 2.5em 0em 0 0em rgba(80, 80, 80, 0.2), 1.75em 1.75em 0 0em rgba(80, 80, 80, 0.2), 0em 2.5em 0 0em rgba(80, 80, 80, 0.2), -1.8em 1.8em 0 0em rgba(80, 80, 80, 0.5), -2.6em 0em 0 0em rgba(80, 80, 80, 0.7), -1.8em -1.8em 0 0em #505050;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #505050, 1.8em -1.8em 0 0em rgba(80, 80, 80, 0.2), 2.5em 0em 0 0em rgba(80, 80, 80, 0.2), 1.75em 1.75em 0 0em rgba(80, 80, 80, 0.2), 0em 2.5em 0 0em rgba(80, 80, 80, 0.2), -1.8em 1.8em 0 0em rgba(80, 80, 80, 0.2), -2.6em 0em 0 0em rgba(80, 80, 80, 0.5), -1.8em -1.8em 0 0em rgba(80, 80, 80, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(80, 80, 80, 0.7), 1.8em -1.8em 0 0em #505050, 2.5em 0em 0 0em rgba(80, 80, 80, 0.2), 1.75em 1.75em 0 0em rgba(80, 80, 80, 0.2), 0em 2.5em 0 0em rgba(80, 80, 80, 0.2), -1.8em 1.8em 0 0em rgba(80, 80, 80, 0.2), -2.6em 0em 0 0em rgba(80, 80, 80, 0.2), -1.8em -1.8em 0 0em rgba(80, 80, 80, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(80, 80, 80, 0.5), 1.8em -1.8em 0 0em rgba(80, 80, 80, 0.7), 2.5em 0em 0 0em #505050, 1.75em 1.75em 0 0em rgba(80, 80, 80, 0.2), 0em 2.5em 0 0em rgba(80, 80, 80, 0.2), -1.8em 1.8em 0 0em rgba(80, 80, 80, 0.2), -2.6em 0em 0 0em rgba(80, 80, 80, 0.2), -1.8em -1.8em 0 0em rgba(80, 80, 80, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(80, 80, 80, 0.2), 1.8em -1.8em 0 0em rgba(80, 80, 80, 0.5), 2.5em 0em 0 0em rgba(80, 80, 80, 0.7), 1.75em 1.75em 0 0em rgba(80, 80, 80, 0.2), 0em 2.5em 0 0em rgba(80, 80, 80, 0.2), -1.8em 1.8em 0 0em rgba(80, 80, 80, 0.2), -2.6em 0em 0 0em rgba(80, 80, 80, 0.2), -1.8em -1.8em 0 0em rgba(80, 80, 80, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(80, 80, 80, 0.2), 1.8em -1.8em 0 0em rgba(80, 80, 80, 0.2), 2.5em 0em 0 0em rgba(80, 80, 80, 0.5), 1.75em 1.75em 0 0em rgba(80, 80, 80, 0.7), 0em 2.5em 0 0em #505050, -1.8em 1.8em 0 0em rgba(80, 80, 80, 0.2), -2.6em 0em 0 0em rgba(80, 80, 80, 0.2), -1.8em -1.8em 0 0em rgba(80, 80, 80, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(80, 80, 80, 0.2), 1.8em -1.8em 0 0em rgba(80, 80, 80, 0.2), 2.5em 0em 0 0em rgba(80, 80, 80, 0.2), 1.75em 1.75em 0 0em rgba(80, 80, 80, 0.5), 0em 2.5em 0 0em rgba(80, 80, 80, 0.7), -1.8em 1.8em 0 0em #505050, -2.6em 0em 0 0em rgba(80, 80, 80, 0.2), -1.8em -1.8em 0 0em rgba(80, 80, 80, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(80, 80, 80, 0.2), 1.8em -1.8em 0 0em rgba(80, 80, 80, 0.2), 2.5em 0em 0 0em rgba(80, 80, 80, 0.2), 1.75em 1.75em 0 0em rgba(80, 80, 80, 0.2), 0em 2.5em 0 0em rgba(80, 80, 80, 0.5), -1.8em 1.8em 0 0em rgba(80, 80, 80, 0.7), -2.6em 0em 0 0em #505050, -1.8em -1.8em 0 0em rgba(80, 80, 80, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(80, 80, 80, 0.2), 1.8em -1.8em 0 0em rgba(80, 80, 80, 0.2), 2.5em 0em 0 0em rgba(80, 80, 80, 0.2), 1.75em 1.75em 0 0em rgba(80, 80, 80, 0.2), 0em 2.5em 0 0em rgba(80, 80, 80, 0.2), -1.8em 1.8em 0 0em rgba(80, 80, 80, 0.5), -2.6em 0em 0 0em rgba(80, 80, 80, 0.7), -1.8em -1.8em 0 0em #505050;
  }
}