<div class="specialist-search PART_Root">
	<!-- ko control: InfoBox --><!-- /ko -->

	<div data-bind="foreach: Regions" class="regionList">
		<div data-bind="control: $data"></div>
	</div>

	<div data-bind="visible: ShowPrompt">

	</div>
	<div data-bind="visible: ShowNothingFound">
		Никого не найдено
	</div>

	<div class="list" data-bind="visible: ShowList, foreach: Specialists">
		<div class="specialist">
			<img class="photo" data-bind="attr: { src: photoUrl }, css: { empty: !photoUrl }" />
			<div class="name">
				<div class="f last" data-bind="text: lastName"></div>
				<div class="f first" data-bind="text: firstName"></div>
				<div class="f patronymic" data-bind="text: patronymicName"></div>
			</div>
			<div class="f education" data-bind="visible: formalEducation, text: formalEducation"/>
			<div class="f mtEducation" data-bind="visible: musicTherapyEducation, text: musicTherapyEducation" />
			<div class="f experience" data-bind="visible: experience, text: experience" />
			<div class="f specialization" data-bind="visible: specialization, text: specialization" />
			<div class="f specializationDescription" data-bind="visible: specializationDescription, text: specializationDescription" />
			<div class="f organization" data-bind="visible: organization, text: organization" />
			<div class="f resume" data-bind="visible: resume, text: resume" />

			<div class="f contacts" data-bind="visible: email || phone || url">
				<div class="f email" data-bind="text: email, visible: email"></div>
				<div class="f phone" data-bind="text: phone, visible: phone"></div>
				<a class="f url" data-bind="text: url, attr: { href: url }, visible: url"></a>
			</div>
		</div>
	</div>

	<div class="loadingContainer" data-bind="css: { show: IsLoading }">
		<div class="blockerBackground"></div>
		<div class="loadingSpinner"></div>
	</div>
</div>

<div class="PART_Region region" data-bind="if: Visible, visible: Visible">
	<a data-bind="text: Name, click: Select" href="#"></a>
	<div data-bind="foreach: Children" class="children">
		<div data-bind="control: $data"></div>
	</div>
</div>