<div class="bb-quick-reference" data-bind="assignTo: Element">
	See the Examples <a href="/examples">page</a> for more details on each of these markup elements.

	<div>
		<label>**</label>
		<span class="clarification">double asterisk</span>
		<span><b>bold</b></span>
		<div class="example">**this is bold**</div>
	</div>

	<div>
		<label>*</label>
		<span class="clarification">single asterisk</span>
		<span><i>italic</i></span>
		<div class="example">*this is italic*</div>
	</div>

	<div>
		<label>_</label>
		<span class="clarification">underscore character</span>
		<span><u>underline</u></span>
		<div class="example">_this is underlined_</div>
	</div>

	<div>
		<label>--</label>
		<span class="clarification">double or single dash</span>
		<span>header &amp; big header</span>
		<div class="example">--my header--</div>
		<div class="more">NOTE: The header must be the only thing on the line.</div>
	</div>

	<div>
		<label>[c]</label>
		<span>CSS class</span>
		<div class="example">[c=orange]this text is orange[/c]</div>
		<div class="more">
			Here are some available classes:
			<ul>
				<li class="orange">orange</li>
				<li class="blue">blue</li>
				<li class="news">news</li>
			</ul>
		</div>
	</div>

	<div>
		<label>[url]</label>
		<span>Link</span>
		<div class="example">[url=http://apreleva.com]Alisa Apreleva[/url]</div>
	</div>

	<div>
		<label>*</label>
		<span class="clarification">space+asterisk</span>
		<span>Bullet list</span>
		<div class="example"><br />
			* one<br />
			* two<br />
			* three
		</div>
		<div class="more">NOTE: each asterisk should be on a new line, and there should be at least one space in front of each asterisk.</div>
	</div>

	<div>
		<label>[video]</label>
		<span>Embed a video</span>
		<div class="example">[video=http://www.youtube.com/abcde]</div>
		<div class="more">
			A few hints:
			<ul>
				<li>Just copy&amp;paste the URL of the video.</li>
				<li>This only works for YouTube right now, but support for other sites is possible.</li>
			</ul>
		</div>
	</div>

	<div>
		<label>[html]</label>
		<span>Insert raw (unprocessed) HTML markup</span>
		<div class="example">[html]This is &lt;b&gt;bold&lt;/&gt;, ha.[/html]</div>
	</div>

	<div>
		<label>[img]</label>
		<span>Insert attached picture</span>
		<div class="example">[img=my_picture.jpg]</div>
		<div class="more">You must first attach the picture to the page by dragging&amp;dropping it on the text editor.</div>
	</div>

	<div>
		<label>[file]</label>
		<span>Insert a link to an attached file</span>
		<div class="example">[file=brochure.jpg]Download brochure[/file]</div>
		<div class="more">You must first attach the file to the page by dragging&amp;dropping it on the text editor.</div>
	</div>
</div>