<div class="bb-quick-reference" data-bind="assignTo: Element">
	<div>
		<label>[b], [i], [u]</label>
		<span><b>bold</b>, <i>italic</i>, <u>underline</u></span>
		<div class="example">[b]this is bold[/b]</div>
	</div>

	<div>
		<label>[h] &amp; [h1]</label>
		<span>header &amp; big header</span>
		<div class="example">[h]my header[/h]</div>
	</div>

	<div>
		<label>[c]</label>
		<span>CSS class</span>
		<div class="example">[c=orange]this text is orange[/c]</div>
		<div class="more">
			Here are some available classes:
			<ul>
				<li class="orange">orange</li>
				<li class="blue">blue</li>
				<li class="news">news</li>
			</ul>
		</div>
	</div>

	<div>
		<label>[url]</label>
		<span>Link</span>
		<div class="example">[url=http://apreleva.com]Alisa Apreleva[/url]</div>
	</div>

	<div>
		<label>[list] &amp; [*]</label>
		<span>Bullet list</span>
		<div class="example">[list] [*]one [*]two [*]three [/list]</div>
		<div class="more">NOTE: the [*] tag doesn't need to be closed.</div>
	</div>

	<div>
		<label>[video]</label>
		<span>Embed a video</span>
		<div class="example">[video=http://www.youtube.com/abcde]</div>
		<div class="more">
			A few hints:
			<ul>
				<li>Just copy&amp;paste the URL of the video.</li>
				<li>The tag doesn't have to be closed.</li>
				<li>This only works for YouTube right now, but support for other sites is possible.</li>
			</ul>
		</div>
	</div>

	<div>
		<label>[html]</label>
		<span>Insert raw (unprocessed) HTML markup</span>
		<div class="example">[html]This is &lt;b&gt;bold&lt;/&gt;, ha.[/html]</div>
	</div>

	<div>
		<label>[br]</label>
		<span>Force a line break</span>
		<div class="example">Line with a[br]break.</div>
		<div class="more">
			NOTE:
			<ul>
				<li>Line breaks are already present where you hit Enter. No need to add an extra [br].</li>
				<li>This tag doesn't need to be closed.</li>
			</ul>
		</div>
	</div>
</div>