<div class="page-editor popup-editor">
	<span data-bind="loadingWhen: IsLoading">
		<!-- ko control: InfoBox --><!-- /ko -->
		<label>Title</label>
		<input tabindex="0" type="text" data-bind="value: Title, valueUpdate: 'keyup'" />
		<label>Text</label>
		<textarea tabindex="1" data-bind="value: Text, valueUpdate: 'keyup', control: BBQuickReference"></textarea>
		<button tabindex="2" data-bind="click: Cancel">Cancel</button>
		<button tabindex="3" data-bind="click: Save">Save</button>
	</span>
</div>