<div class="specialist-registration-done" data-bind="control: DoneText, visible: Sent">
</div>
<div class="specialist-registration" data-bind="visible: !Sent()">
	<!-- ko control: InfoBox --><!-- /ko -->

	<div class="field col3 required">
		<label>Имя:</label>
		<input type="text" data-bind="value: FirstName" />
	</div><div class="field col3 required">
		<label>Фамилия:</label>
		<input type="text" data-bind="value: LastName" />
	</div><div class="field col3">
		<label>Отчество:</label>
		<input type="text" data-bind="value: PatronymicName" />
	</div>
	<div class="field required">
		<label>Город(a):</label>
		<input type="text" data-bind="value: City" />
	</div>
	<div class="field required">
		<label>Страна(ы):</label>
		<div data-bind="control: Country">&nbsp;</div>
	</div>
	<div class="field">
		<label>Организация:</label>
		<div data-bind="control: Organization">&nbsp;</div>
	</div>

	<div class="field required glue-to-next">
		<label>Вы:</label>
		<div data-bind="control: Profession">&nbsp;</div>
	</div>
	<div class="field">
		<label>Подробнее:</label>
		<textarea data-bind="value: ProfessionDescription"></textarea>
	</div>

	<div class="field required glue-to-next">
		<label>Специализация:</label>
		<div data-bind="control: Specialization">&nbsp;</div>
	</div>
	<div class="field">
		<label>Если Вашей специализации нет в списке, расскажите о ней подробнее:</label>
		<textarea data-bind="value: SpecializationDescription"></textarea>
	</div>

	<div class="field required">
		<label>Краткое резюме:</label>
		<textarea data-bind="value: Resume"></textarea>
	</div>

	<div class="field photo">
		<label>Фотография:</label>
		<button data-bind="visible: !Uploader.IsUploading(), click: UploadPhoto">Выбрать фотографию</button>
		<div class="uploading" data-bind="visible: Uploader.IsUploading">&nbsp;</div>
		<!-- ko if: PhotoVisual --><div class="visual" data-bind="control: PhotoVisual"></div><!-- /ko -->
	</div>

	<div class="field">
		<label>Электронная почта (e-mail):</label>
		<input type="text" data-bind="value: Email" />
		<div class="checkbox">
			<input type="checkbox" data-bind="value: IsEmailPublic" />
			<label>Сделать ваш e-mail доступным для всех пользователей.</label>
		</div>
	</div>

	<div class="field">
		<label>Телефон:</label>
		<input type="text" data-bind="value: Phone" />
		<div class="checkbox">
			<input type="checkbox" data-bind="value: IsPhonePublic" />
			<label>Сделать ваш телефон доступным для всех пользователей.</label>
		</div>
	</div>

	<div class="field">
		<label>Ссылка на сайт:</label>
		<input type="text" data-bind="value: Url" />
	</div>

	<button data-bind="click: Send, disabled: IsSending">Отослать заявку</button>
	<!-- ko control: InfoBox --><!-- /ko -->
</div>