<div class="feedback-question-form-done" data-bind="control: DoneText, visible: Sent">
</div>
<div class="feedback-question-form" data-bind="visible: !Sent()">
	<!-- ko control: InfoBox --><!-- /ko -->

	<div data-bind="control: PromptText"></div>

	<div class="field col3 required" data-bind="visible: !Simplified">
		<label data-bind="text: Strings.Prompt.Name"></label>
		<input type="text" data-bind="value: Name" />
	</div><div class="field col3 required">
		<label data-bind="text: Strings.Prompt.Email"></label>
		<input type="text" data-bind="value: Email" />
	</div><div class="field col3 required" data-bind="visible: !Simplified">
		<label data-bind="text: Strings.Prompt.Subject"></label>
		<input type="text" data-bind="value: Subject" />
	</div>
	<div class="field">
		<label data-bind="text: Strings.Prompt.Text"></label>
		<textarea data-bind="value: Text"></textarea>
	</div>

	<button data-bind="click: Send, disabled: IsSending, text: Strings.Send"></button>
</div>