.menu-item-editor {
  display: none;
  position: fixed;
  top: 15%;
  left: 15%;
  bottom: 15%;
  right: 15%;
  border: 1px solid black;
  background: white;
  padding: 20px;
}
.menu-item-editor button {
  float: right;
}
.menu-main-ctx-menu {
  display: none;
}
.container .navcontainer .sub-menu {
  overflow: visible;
  position: absolute;
}
.container .navcontainer .sub-menu > .menu {
  min-height: 30px;
  min-width: 50px;
  border: 1px solid black;
}
.container .navcontainer .sub-menu > .menu li {
  display: block;
}
.container .navcontainer .sub-menu > .menu li a {
  border-left: 0;
  text-align: left;
}
.menu .drop-target {
  min-width: 100px;
  min-height: 20px;
  border: 1px solid silver;
}
.menu .drop-target:before {
  content: '.';
  color: transparent;
  padding: 0.2em 1em;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0px 0px 18px white inset, 0px 0px 5px white;
  border-right: 1px solid #fff;
  min-width: 80px;
  opacity: 0.4;
}
