<!DOCTYPE html>
<html>
	<head>
		<title>@ViewBag.Title</title>
		<script type="text/javascript" data-main="@Url.Content("~/Content/js/amd-config")" src="@Url.Content("~/Content/require/require.js")"></script>
	</head>
	<body>
		@RenderBody()
	</body>
</html>