@model TopMenuModel

<div class="navcontainer autobind" 
		data-controller="RootMenuVm, BL/menu" 
		data-args='@Html.Raw( Json.Encode( new { menuId = Model.MenuId, items = Model.Items, allowEdit = Model.AllowEdit } ) )'
></div>