@model PageModel

@section LeftSidebar { @Html.Partial( "~/Views/ChildPagesTree.cshtml" ) }
@Html.Partial( "~/Views/Page.cshtml" )

<div class="autobind" data-controller="ApplicationVm, BL/specialist/application"></div>