.admin-menu {
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    border: 2px solid black;
    padding: 5px;
    cursor: pointer;
}

.admin-menu:hover {
    background: #F8F8F8;
}

.admin-menu .anchor {
    font-size: 1.2em;
    font-weight: bold;
}

.admin-menu > button {
    display: none;
    width: 100%;
}

.admin-menu.expanded > button {
    display: block;
}
