<?xml version="1.0" encoding="utf-8"?>
<smtp deliveryMethod="SpecifiedPickupDirectory" from="info@muzterapevt.ru">
  <specifiedPickupDirectory pickupDirectoryLocation="c:\work\mail"/>
</smtp>
<!--<smtp deliveryMethod="Network" from="questions@muzterapevt.com">
	<network host="smtp.gmail.com" port="587" enableSsl="true" userName="questions@muzterapevt.ru" password="" />
</smtp>-->